import React, { useState, useEffect } from "react";
import "./TestimonialSlider.css";

const TestimonialSlider = () => {
  const testimonials = [
    {
      quote:
        "I found value in the training program which helps align goals with vision and create a step-by-step strategy. Sheetal is friendly but very professional in her work. Sheetal provides the tools and techniques to clients to achieve the best of their goals. I recommend all trainers and coaches to avail the service of SOM to relook at their vision and proceed accordingly in the best path.",
      name: "Shalini Mukund",
      job: "Voice-O-Magic",
      image: "img/img1.jpg",
    },
    {
      quote:
        "I found value in the training program which helps align goals with vision and create a step-by-step strategy. Sheetal is friendly but very professional in her work. Sheetal provides the tools and techniques to clients to achieve the best of their goals. I recommend all trainers and coaches to avail the service of SOM to relook at their vision and proceed accordingly in the best path.",
      name: "Parampreeth",
      job: "Creative Digital Media",
      image: "img/img2.jpg",
    },
    {
      quote:
        "SOM’s 121 performance coaching according to me is amazing. They understand individuals strengths and weaknesses and give them a proper way of facing challenges. They take utmost care on performance. Thanks to SOM coaches, he is able to connect with his business associates and focus on growing the business.",
      name: "John Lotter",
      job: "Web Developer",
      image: "img/img3.jpg",
    },
  ];

  const [currentSlide, setCurrentSlide] = useState(0);

  const handleNextSlide = () => {
    setCurrentSlide((prevSlide) => (prevSlide + 1) % testimonials.length);
  };

  const handlePrevSlide = () => {
    setCurrentSlide((prevSlide) =>
      prevSlide === 0 ? testimonials.length - 1 : prevSlide - 1
    );
  };

  useEffect(() => {
    const interval = setInterval(handleNextSlide, 5000); // Auto-slide every 5 seconds
    return () => clearInterval(interval); // Clean up the interval on component unmount
  }, []);

  return (
    <div className="testimonial-slider">
      {testimonials.map((testimonial, index) => (
        <div
          key={index}
          className={`slide ${
            index === currentSlide ? "active" : ""
          }`}
        >
          <div className="testimonial-content">
            <img src={testimonial.image} alt="" />
            <div className="detail-bx">
              <div className="quote-detail-bx">
                <div className="quote-icon-bx">
                  <i className="bx bxs-quote-alt-left quote-icon"></i>
                </div>
                <p>{testimonial.quote}</p>
                <div className="quote-icon-bx">
                  <i className="bx bxs-quote-alt-right quote-icon"></i>
                </div>
              </div>
              <div className="name-detail">
                <span className="name">{testimonial.name}</span>
                <span className="job">{testimonial.job}</span>
              </div>
            </div>
          </div>
        </div>
      ))}
      <div className="controls">
        <button onClick={handlePrevSlide}>&#10094;</button>
        <button onClick={handleNextSlide}>&#10095;</button>
      </div>
    </div>
  );
};

export default TestimonialSlider;
