.slider__item {
  max-width: 100%;
  height: 400px;
}


.mission__img img{
  width: 400px;
  height: 400px;
  margin-top: -30px;
}
.Vision{
  padding-left: 100px;
  padding-right: 100px;
  right: 0;
  align-items: center;
  justify-content: center;
  width:100%;
  color: #000d6b;
}

.slider__item-01 {
  background: linear-gradient(rgb(0, 13, 107, 0.5), rgb(0, 13, 107, 0.5)),
    url(".././images/hospital2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider__item-02 {
  background: linear-gradient(rgb(0, 13, 107, 0.5), rgb(0, 13, 107, 0.5)),
    url(".././images/bluecollar.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider__item-03 {
  background: linear-gradient(rgb(0, 13, 107, 0.5), rgb(0, 13, 107, 0.5)),
    url(".././images/college.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* For devices with a maximum width of 768px (adjust as needed) */
@media screen and (max-width: 768px) {
  .no-gutters [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
  }
}


.hero__slider {
  overflow: hidden;
}

.slider__content {
  padding-top: 150px;
}

.slider__content h1 {
  font-size: 3.2rem;
  font-weight: 600;
}

.reserve__btn {
  background: #fff !important;
  color: #000d6b !important;
  border: none;
  outline: none;
}

.reserve__btn a {
  text-decoration: none;
  font-weight: 600;
  color: #000d6b;
}


.reserve__btn:hover {
  background: #000d6b;
  color: #fff;
}
.about__page-section1 {
  padding: 40px 0;
}
.cards-container1 {

  display: flex;

  margin-top: 20px; /* Add spacing between the heading and cards */
}

.card img {
  width: 100px;
  height: 100px;
  height: auto; /* Maintain the aspect ratio of the images */
  border-radius: 8px; /* Optional: Add rounded corners to the images */
}

.card-text {
  padding: 0px;
  margin-top: 10px;
  font-weight: bold;
  bottom: 0px;
}
.What__we__do{
  color: #f9a826;
  font-size: 4rem;
  justify-content: center;
  align-items: center;
}
.card1 {
  display: flex;
  margin: 40px;

  width: 150px; /* Adjust the width of the cards as needed */
  height: 200px;
  background-color: white;

  text-align: center;
  justify-content: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); /* Optional: Add a subtle shadow to the cards */
}
.Values {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left:30px;

}
.Our_Mission{
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.about__page-section1 .row {
  display: flex;
  align-items: center;
}

.vision__img img {
  width: 100%;
  max-width: 100%;
  height: auto;
}



.Vision {
  font-size: medium;
  font-weight: 600;
  text-align: justify;
}
.Our__Mission{
  font-size: xx-large;
  color: #f9a826;
  text-align: justify;

}
.Mission{
  justify-content: center;
  text-align: justify;
  color: #000d6b;
  padding: 5px;
  font-size: 20px;
}


.What__we__do {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.cards-container1 {
  display: flex;
  justify-content: space-between; /* Distribute cards with space between them */

}
.about__section-content {
  align-content: end;
width: 100%;
}
.card1 {

  flex: 1;
  text-align: center;

}

.card1 img {
  max-width: 100%;
  height: auto;
}

.card-text p{
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  text-align: justify;
}

/* Add responsive styles for different screen sizes */
@media (max-width: 991px) {
  .about__page-section1 .row {
    flex-direction: column; /* Change to a single column on smaller screens */
  }

  .about__section-content {
    padding-left: 0; /* Remove the left padding on smaller screens */

    justify-content: center;
  }
}


@media only screen and (max-width: 992px) {
  .Values {
    font-size: 1px;
  }
  .slider__item {
    height: 530px;
    max-width: 100vw;
  }

  .slider__content {
    margin-top: -50px;
  }

  .slider__content h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .Values {
    font-size: 18px;
    margin-left:0px;
  }
  .slider__item {
    height: 450px;
  }

  .slider__content h1 {
    font-size: 1.5rem;
  }
}
.about__page-section1{
  background-color: white;
}

.about__page-section2{
  background-color: #000d6b;
  padding-bottom: 40px;
}
.about__page-section2 {
  padding: 40px 0;
}



.cards-container1 {
  display: flex;
  justify-content: space-between; /* Distribute cards with space between them */
}

.card1 {
  flex: 1;
  text-align: top;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card1 img {
  margin-top:0px;
  max-width: 20%;
  height: auto;
}

.card-text {
  font-size: 12px;
  font-weight: small;
  padding: 3%;
  text-align: justify;
}
.card-text1 {
  font-size: 15px;
  font-weight: bold;
 
  text-align: center;
}
@media (max-width: 767px) {
  .cards-container1 {
    flex-direction: column; /* Change to a single column on smaller screens */
  }

  .card1 {
    margin: 0 auto 20px; /* Center the cards in a single column */
  }
  .vision__img img{
    width: 300px;
    height: 300px;
    margin-top: -30px;
  }
  .mission__img{
    margin-top: 10px;
  }
  .Vision{
    padding-left: 10px;
    padding-right: 10px;
  }

  }