.partners_section{
    background: white;
    padding:  0;
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.5);
    margin-top: -120px;

}

.section_title{
    text-align: center;
    margin-bottom: 1.5rem;
}

.section_title h3{
    font-size: 2rem;
    font-weight: bold;
}

.logos_slider{
    overflow-x: hidden ;
}

.overflow{
    display: flex ;
    padding:5rem , 20px;
    overflow:hidden;
}

.reverse .logos_wrapper{
    animation-direction: reverse;
}

.logos_wrapper{
    display:flex ;
    margin: 10px;
    align-items: center;
    justify-content: space-around;
    animation: logoLoop 70s linear infinite;
    padding-bottom: 5%;
}


.logo_item {
    margin: 50px;
    
  
    background: white;
    display: grid;
    place-items: center;
    border-radius: 1rem;
    /* Add margin or padding to create space between images */
    margin-right: 1rem; /* Add a margin of 1rem on the right side */
  }
  
  .logo_item img {

    width: auto;
    height: 100px;
 
  }
@keyframes logoLoop {
 from{
    transform: translateX(0);
 }   
 to{
    transform: translateX(-100%);
 }
}

@media only screen and (max-width:768px) {
    .partners_section{
        width: 100%;
    }
    .logo_item img {

        width: auto;
        height: 60px;
     
      }
 }
 