    .counter__wrapper{
        padding-left: 200px;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
    .counter{
        align-items: center;
    }

    .counter__item{
        width: 33%;
        text-align: center;
    }
    .counter__number,
     .counter__title{
        background:white;
        background-size: 100% 100%;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .counter__number{
        font-size: 2.5rem;
        margin-bottom: 10px;
    }

    .counter__title{
        font-size: 1.5rem;
    }

    .counter__item-box {
   
        height: 100px;
        width: 130px;
        background-color: #090238;
 
        border-radius: 5px;
      }
      
      /* Additional styles for the text color */
      .counter__number,
      .counter__title {
        color: white;
      }
      


    @media only screen and (max-width:992px) {
        .counter__number{
            font-size: 2rem;
        }
        .counter__title{
            font-size: 1.2rem;
        }
        .counter__item{
            width: 30%;

        }
        
    }
    @media only screen and (max-width:768px) {
        .counter__number{
            font-size: 1.5rem;

        }
        .counter__title{
            font-size: 1rem;
        }

        
    }

    @media only screen and (max-width:576px) {
        .counter__wrapper{
            flex-direction: column;
        }
        .counter__item{
            width: 100%;
            margin-bottom: 30px;
        }
        
    }