.footer {
    padding: 60px 0px;
    background: #d4e8fa;

  }
  

.footer__wrapper{
    display: flex;
    justify-content: space-between;
}

.footer__logo{

    width: 40%;
}

.footer__quick-links{
    width: 30%;
    column-gap: 50px;
}
.small__text{
    font-size: 1rem;
    margin-top: 30px;
}


.quick__links-title{
    font-size: 1.1rem;
    color: #090238;
    font-weight: 600;
    margin-bottom: 30px;
}

.quick__links{
  
    list-style:none
}

.quick__link-item{
    margin-bottom: 30px;
    color:#379cf6;
}

.quick__link-item a{
    color:#090238;
    font-size: .9rem;
    font-weight: 500;
    cursor: pointer;
}
.quick__sociallink-item{
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}

.quick__link-item a:hover{
    color: #379cf6;
}


.light-theme .quick__link-item a{
    font-weight: 500;
}

.light-theme .copyright{
    color: #ddd
}


@media only screen and (max-width:768px){
        .footer__logo{
            width: 100%;
        }
        .footer__wrapper{
            flex-wrap: wrap;
        }
}
/* Assuming that the breakpoint for mobile is 768px */
/* Assuming that the breakpoint for mobile is 768px */
/* Assuming that the breakpoint for mobile is 768px */
@media (max-width: 768px) {
    .footer__wrapper {
      display: block; /* Display each section as a block (one below the other) */
      text-align: center; /* Center the content inside each block */
    }
  
    .footer__quick-links {
      margin-bottom: 20px;
      width: 100%;
    }

    .footer__logo{
        padding: 10px;
    }
  }
  
  