.footer {
    padding: 60px 0px;
    background: rgb(59, 59, 59);

  }
  

.footer__wrapper{
    display: flex;
    justify-content: space-between;
}

.footer__logo{

    width: 40%;
}

.footer__quick-links{
    width: 30%;
    column-gap: 50px;
}
.small__text{
    font-size: 1rem;
    margin-top: 30px;
}


.quick__links-title{
    font-size: 1.1rem;
    color:var(--primary-color);
    font-weight: 500;
    margin-bottom: 30px;
}

.quick__links{
    list-style:none
}

.quick__link-item{
    margin-bottom: 30px;
}

.quick__link-item a{
    font-size: .9rem;
    font-weight: 300;
    cursor: pointer;
}

.quick__link-item a:hover{
    color: var(--primary-color)
}


.light-theme .quick__link-item a{
    font-weight: 500;
}

.light-theme .copyright{
    color: #ddd
}


@media only screen and (max-width:768px){
        .footer__logo{
            width: 100%;
        }
        .footer__wrapper{
            flex-wrap: wrap;
        }
}
/* Assuming that the breakpoint for mobile is 768px */
/* Assuming that the breakpoint for mobile is 768px */
/* Assuming that the breakpoint for mobile is 768px */
@media (max-width: 768px) {
    .footer__wrapper {
      display: block; /* Display each section as a block (one below the other) */
      text-align: center; /* Center the content inside each block */
    }
  
    .footer__quick-links {
      margin-bottom: 20px;
      width: 100%;
    }
    .footer__logo p{
       
    }
    .footer__logo{
        padding: 10px;
    }
  }
  
  