.newsletter{
    background: white
}

.newsletter__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.newsletter__content {
    width: 50%;
}

.newsletter__form input {
    padding: 0.7rem 1.5rem;
    border: 2px solid #000000; /* Add border with desired color */
    outline: none;
    cursor: pointer;
  }
  
.newsletter__form{
    padding: 0.4rem;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5rem;
    cursor: pointer;
}
.secondary__btn{
    cursor: pointer;
}

.light-theme .newsletter{
    background:linear-gradient(
        180deg,
        rgb(56, 85, 248) ,
        rgb(255, 255, 255) ,
        rgb(56, 85, 248)
      );
}


.light-theme .subscribe__btn{
    background:var(--primary-color);
    color: #fff;
}

@media only screen and (max-width:992px){
    .newsletter__content h2{
        font-size: 1.5rem;
    }
}

@media only screen and (max-width:600px) {
        .newsletter__wrapper{
            flex-wrap: wrap ;
        }
        .newsletter__content{
                        width: 100%;
        }

        .newsletter__form{
            width: 100%;
}

        .newsletter__content{
            margin-bottom: 30px;
        }

        .newsletter__form input{
            padding: 8px 20px;
            font-size: .9rem;
        }
}