
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: montserrat, sans-serif;
    width: 100%;
    min-height: 100vh;
  

  }
  .service__content{
    background: white;
    
  }

  .heading{
    background: white;
    text-align: center;
    justify-content: center;
    padding: 50px;
    font-size: 50px;
  }

  .heading h2{
    
      font-size: 50px;
    }
  
  .card-container {
    padding-top: 40px;
    background: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    
  }


  
  
 
  
  .card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }
  
  .card__inner.is-flipped {
    transform: rotateY(180deg);
  }
  
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    flex: 0 0 200px; /* Adjust the width as needed */
    margin: 10px;
    width: 100%;
    max-width: 200px; /* Adjust the maximum width as needed */
    height: 250px; /* Adjust the height as needed */
  }
  
  .card__inner {
    width: 100%;
    height: 100%;
  }
  
  .card h2,
  .card h3,
  .card p {
    font-size: 14px; /* Adjust the font size as needed */
  }
  
  .card__face--front {
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card__face--front h2 {
    padding: 30%;
    color: #FFF;
    font-size: 20px;
  }
  
  .card__face--back {
    background-color: var(--light);
    transform: rotateY(180deg);
  }
  
  .card__content {
    width: 100%;
    height: 100%;
  }
  
  .card__header {
    position: relative;
    padding: 30px 30px 40px;
  }
  
  .card__header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%);
    z-index: -1;
    border-radius: 0px 0px 50% 0px;
  }
  .service__content{
    text-align: center;
    margin-bottom: 50px;
  }
  
  .pp {
    display: block;
    width: 128px;
    height: 128px;
    margin: 0 auto 3px;
    border-radius: 50%;
    background-color: #FFF;
    border: 5px solid #FFF;
    object-fit: cover;
  }
  
  .card__header h2 {
    color: #FFF;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
  }
  
  .card__body {
    padding: 30px;
  }
  
  .card__body h3 {
    color: var(--dark);
    font-size: 14px;
    font-weight: 600;
    
  }
  
  .card__body p {
    color: var(--dark);
    font-size: 18px;
    line-height: 1.4;
  }