.our__team{
    padding-top: 0;
    
}

.team__content{
    text-align: center;
    padding-top: 40px;
    margin-bottom: 40px;
}

.team__content h2{
    padding: auto;
    font-size: 50px;
}

.team{
    padding-top: 30px;
}

.team__item{
    width: 25%;
    background: #d4e8fa;
    border-radius: 5px;
}

.team__img{
    width: 100%;
    height: 200px;
    border-radius: 5px;
    background : white;
    overflow: hidden;
    padding-top: 10px;
}

.team__img img{
    width: 100%;
    height: 190px;
    object-fit: contain;
    transform: scale(1.3);
 }

.team__details{
    padding: 20px 15px;
    color: #090238;
}
.team__details h4{ 
    color:#090238;
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
}

.team__member-social{
    display:flex;
    align-items: center;
    column-gap: 1rem;
    margin-top: 5px;
}
.team__member-social span i{
    padding: 5px;
    background: var(blue);
    color: #090238;
    border-radius: 3px;
    cursor: pointer;
}

.team__wrapper{
    display: flex;
    align-items: center;
    column-gap: 2rem;
}
.description{
    font-size: med;
}
@media only screen and (max-width:768px){
        .team__item{
            width:30%;
            margin-bottom: 30px;
        }
        .team__wrapper{
            flex-wrap: wrap
        }
        .team__content h2{
            font-size: 1.5rem;
        }
        .team__details h4{
            font-size: 1rem;
        }
        .team__details p{
            font-style: 0.9rem;
        }
}

@media only screen and (max-width:576px){
    .team__item{
        width: 45%;
    }
}