<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="gallery.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <div class="gallery-section">
            <div class="services-heading">
                <h1>Gallery</h1>
            </div>
            <div class="services">
                <div class="services-cell">
                    <img src="./images/hospital.jpg" alt="" class="services-cell_img">
                    <div class="services-cell_text">Hospitals</div>
                </div>
                <div class="services-cell">
                    <img src="./images/WhatsApp Image 2023-07-15 at 8.29.02 PM (1) (1).jpeg" alt="" class="services-cell_img">
                    <div class="services-cell_text">Recruitent</div>
                </div>
                <div class="services-cell">
                    <img src="./images/college.jpeg" alt="" class="services-cell_img">
                    <div class="services-cell_text">Colleges</div>
                </div>
                <div class="services-cell">
                    <img src="./images/delivery.jpeg" alt="" class="services-cell_img">
                    <div class="services-cell_text">Delivery Executive Training</div>
                </div>
                <div class="services-cell">
                    <img src="./images/mnc.jpg" alt="" class="services-cell_img">
                    <div class="services-cell_text">Corporate Training</div>
                </div>
                <div class="services-cell">
                    <img src="./images//msme.jpg" alt="" class="services-cell_img">
                    <div class="services-cell_text">MSME</div>
                </div>
                <div class="services-cell">
                    <img src="./images/JYOTHI GAS.jpeg" alt="" class="services-cell_img">
                    <div class="services-cell_text">Blue Collar Staff</div>
                </div>
                <div class="services-cell">
                    <img src="./images/JYOTHI GAS.jpeg" alt="" class="services-cell_img">
                    <div class="services-cell_text">Blue Collar Staff</div>
                </div>
            </div>
        </div>
</body>
</html>