<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive </title>
    <link rel="stylesheet" href="../testmonials//testmonial.css">
</head>
<body>
    <div id="page" class="site">
        <container>
            <div class="testi">
                <div class="head">
                    <h3>Testmonials</h3>
                    <p>See what people are saying</p>
                </div>
                <div class="body">
                    <ul>
                        <li>
                            <div class="wrapper">
                                <div class="thumbnail">
                                    <img src="../../images/5.png" alt="">
                                </div>
                                <div class="aside">
                                    <p>Shalini Mukund, founder of Voive-O-Magic and a Public Speaker herself recommends SOM for the services they provide. Shalini found value for herself in SOM’s training program which helps align goals with vision and create a step-by-step strategy. Sheetal is friendly but very professional in her work. Sheetal provides the tools and techniques to clients to achieve the best of their goals. Shalini Mukund recommends all trainers and coaches to avail the service of SOM to relook at their vision and proceed accordingly in the best path. </p>
                                    <div class="name">
                                        <h4>Shalini Mukund</h4>
                                        <p>Voice-O-Magic</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </container>
    </div>
</body>
</html>